<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body ng-app="locationUpdate">
<div ng-controller="locationUpdateCtrl">
<div ng-repeat="i in locationResult">
	{{i._id}}
	{{i.lat}}
	{{i.lng}}
	{{i.app_time_stamp}}
	{{i.server_time_stamp}}
</div>

_id:String,
	lat:String,
	lng:String,
	app_time_stamp:String,
	server_time_stamp:String
<input type="text" ng-model="_id" placeholder="_id">
<input type="text" ng-model="lat" placeholder="lat">
<input type="text" ng-model="lng" placeholder="lng">
<input type="text" ng-model="app_time_stamp" placeholder="app_time_stamp">
<input type="text" ng-model="server_time_stamp" placeholder="server_time_stamp">
<button ng-click="saveData()" type="button">Submit</button>
</div>
<script src="static/jquery.js"></script>
<script src="static/angular.min.js"></script>
<script src="static/app.js"></script>
</body>
</html>